.footer{
    background-color: #c5ded7;
    padding: 42px 0 21px 0;
}

.footer-link a{
    color: #45b29a;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.footer-copy{
    color: #45b29a;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}