header{
    background-color: #e0ebe8;
}

.header__menu img{
    height: 90px;
    width: 90px;
    background-color: #f6f9f8;
    border-radius: 84px;
}

header nav li a{
    color:#45b29a;
    font-weight: 400;
    margin: 0 1em;
    font-size: 21px;
    font-family: 'Raleway', sans-serif;
}

header nav li a:hover{
    text-decoration: none;
    color:#21564b;
}

/*Responsive*/

@media (max-width: 480px) {
    header nav li{
        text-align: center;
    }
}
