/*Hero section*/

.home__hero{
    background-color: #e0ebe8;
}

.home__hero-name{
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    color: #45b29a;
}

.home__hero-job{
    color: #45b29a;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    padding: 25.2px 0;
    font-weight: 400;
}

.home__hero-img{
    padding-top: 50px;
}

/*About me section*/

.home__aboutme-img{
    width: 40%;
    padding: 48px 0 0 0;
}

.home__aboutme-hi{
    color: #45b29a;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    padding: 14px 0;
    margin: 20px 0 10px;
}

/*Skill section*/

.home__skill-title h2{
    color:#45b29a;
    font-weight: 400;
    font-size: 52px;
    padding: 28px 0;
}

.home__skill-name{
    color: #45b29a;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    padding: 14px 0;
}

.home__skill-img{
    width: 80%;
}
