/* ------------------------------------------------------------ *\
    Vendor
\* ------------------------------------------------------------ */

@import './vendor/*.scss';

/* ------------------------------------------------------------ *\
    Settings
\* ------------------------------------------------------------ */

@import '~@styles/frontend.config.scss';
@import '~@styles/shared/_variables.scss';
@import '~@styles/shared/_editor.scss';
@import './_variables.scss';
@import './_sprite.scss';

/* ------------------------------------------------------------ *\
    Theme
\* ------------------------------------------------------------ */

@import '~@styles/editor';
@import './_generic*.scss';
@import './header.scss';
@import './home.scss';
@import './work.scss';
@import './notes.scss';
@import './footer.scss';

body{
    Font-size: 16px;
}

/*for all*/

.paragraph{
    color: #545454;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.line hr{
    border: 2px dashed #f3f2f1;
    width: 20%;
    margin-top: 3em;
    margin-bottom: 3em;
}

@media (max-width: 480px) {
    .paragraph{
        text-align: center;
    }
    
}